name: Deploy to EC2 via Docker Compose

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 3.92.23.218 >> ~/.ssh/known_hosts

      - name: Deploy application on EC2
        run: |
          ssh ec2-user@3.92.23.218 << 'EOF'
            cd ~/cloud
            git pull origin main
            docker-compose down
            docker-compose up -d --build
          EOF
